.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: $btn-shadow-inactive;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: $btn-shadow-active;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark-3;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-green;
    color: $color-white;

    &::after {
      background-color: $color-green-light;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.75s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-green;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-green;
    padding: 0.3rem;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-green;
    color: $color-white;
    transform: translateY(-0.3rem);
    box-shadow: $btn-shadow-inactive;
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: $btn-shadow-active;
  }

  &--test {
        &:link,
    &:visited {
      @include respond(phone) {
        font-size: 1.4rem;
      }
  
      @include respond(phone-small) {
        font-size: 1.2rem;
      }
    }
  }

  &--white {
    position: relative;
    top: -5rem;

    &:link,
    &:visited {
      font-size: 1.2rem;
      color: $color-grey-light-2;
      border-bottom: none;


      @include respond(phone-small) {
        font-size: 1rem;
      }
    }

    &:hover {
      background-color: transparent;
      color: $color-grey-light-2;
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }

    @include respond(phone-land) {
      top: -3rem;
    }

    @include respond(phone) {
      top: -1.5rem;
    }

    @include respond(phone-small) {
      top: 0;
    }
  }
}

