/* Animation characteristics */
@keyframes moveInLeft {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  /* End */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  /* Start */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  /* End */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  /* Start */
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10rem);
  }

  /* End */
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }
}
